services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./.docker_volumes/qdrant_data:/qdrant/storage

  mock_mealie:
    build: ./mock_mealie
    ports:
      - "9000:9000"
    volumes:
      - ./mock_mealie:/app

  # ollama:
  #   image: ollama/ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama

# volumes:
  # ollama_data:
